<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/new-app/register">
        <input type="text" placeholder="name" name="name" />
        <input type="email" placeholder="email" name="email"/>
        <input type="password" placeholder="password" name="password"/>
        <input type="password" placeholder="confirm password" name="password2" />
        <button type="submit">Login</button>
    </form>
</body>
</html>